fastapi>=0.141.1
uvicorn[standard]>=0.52.3

pydantic>=2.11.7
python-dotenv>=1.1.1
requests>=2.32.4
jsonpatch==1.33

langchain>=0.3.27
langchain-core>=0.3.72
langchain-community>=0.3.27
langchain-groq
langchain-huggingface
langchain-qdrant>=1.1.0
langgraph>=0.6.5
langgraph-checkpoint-postgres
psycopg[binary,pool]

langsmith

qdrant-client[fastembed]>=1.19.0
sentence-transformers
numpy
nltk

pypdf>=6.0.0
beautifulsoup4>=4.13.4

redis>=8.1.0
rq>=2.11.0

mem0ai==2.0.18
google-genai>=2.18.1

nemoguardrails>=0.24.0

streamlit>=1.48.1