langchain
langchain-community
langgraph
pydantic
python-dotenv

langchain-groq
langchain-huggingface
langchain-chroma

sentence-transformers
scikit-learn
chromadb
rank-bm25

pypdf
beautifulsoup4
requests

fastapi
uvicorn[standard]

streamlit

redis
rq

mem0ai
qdrant-client
google-genai

jsonpatch


"langgraph-checkpoint-postgres",
"psycopg[binary,pool]",